<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="source/jquery/css/ui-lightness/jquery-ui-1.8.24.custom.css" type="text/css" />
<script src="source/jquery/jquery-1.8.2.min.js"></script>
<script src="source/jquery/jquery-ui-1.8.24.custom.min.js"></script>
<script>
	$(function() {
		$("button#edit").button();
		$("button#delete").button();		
		$("button#add").button();
		
		$("button#add").click(function() {
			add();
		});
	});
	
	function add(){
		$("div#add").load("member_add");
		$("div#add").dialog({
			title:"新增",
			modal: true,
			position:[200,100]
		});
		$("#birthday").datepicker();
	}
	
	function edit(id){
		$("div#edit").load("member_edit?id="+id);
		$( "div#edit" ).dialog({
			title:"修改",
			modal: true,
			position:[200,100]
		});
	}
	
	function del(id){
		$( "div#delete" ).dialog({
			modal: true,
			buttons: {
				"Delete all items": function() {
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});
		
	}
</script>
</head>
<body>
	<div>
		<button id="add">新增</button>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>编号</th>
					<th>姓名</th>
					<th>性别</th>
					<th>生日</th>
					<th>学号</th>
					<th>电话</th>
					<th>QQ</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<% for(member in members){ %>
				<tr>
					<td>${member['code']}</td>
					<td>${member['name']}</td>
					<td><%if(member['sex']=='1'){%>男 <%}else if(member['sex']=='0'){%>女<%}else{%>保密<%}%></td>
					<td>${member['birthday']}</td>
					<td>${member['student_id']}</td>
					<td>${member['phone']}</td>
					<td>${member['qq']}</td>
					<td>
						<button id="edit" onClick="edit(${member['id']})">修改</button>
						<button id="delete" onClick="del(${member['id']})">删除</button>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<div>
		<a>共${page.recordCount}条</a> <a>共${page.pageCount}页</a> <a href="member_list?pn=1">首页</a> <a href="member_list?pn=${page.previous}">上一页</a> <a href="member_list?pn=${page.next}">下一页</a> <a href="member_list?pn=${page.pageCount}">尾页</a>
	</div>
	<div id="add"></div>
	<div id="edit"></div>
</body>
</html>