<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="source/jquery/css/ui-lightness/jquery-ui-1.8.24.custom.css" type="text/css" />
<script src="source/jquery/jquery-1.8.2.min.js"></script>
<script src="source/jquery/jquery-ui-1.8.24.custom.min.js"></script>
<script src="source/jquery/jquery.form.js"></script>

<script>
	$(function() {
		$("button#edit").button();
		$("button#delete").button();		
		$("button#add").button();	
		$("input#birthday").datepicker();
		
		$("button#add").click(function() {
			$("div#edit").dialog({
				title:"新增",
				modal: true,
				position:[200,100],
				buttons: {
	                "提交": function() {
	                	$("form#edit").attr("action", "member_save.do");
	                	$("form#edit").ajaxSubmit();
	                    $( this ).dialog( "close" );
	        			window.location.reload();
	                },
					"重置": function() {
						$("form#edit").each(function(index){
							$("form#edit")[index].reset();
						});
		            },
					"关闭": function() {
	                    $( this ).dialog( "close" );
		            }
	            }
			});
			$("input#name").focus();
		});
	});

	function load(id){
		$.post("member_edit.do", {id: id},
				function(data){
					$("input#id").val(data.id);
					$("input#code").val(data.code);
					$("input#name").val(data.name);
					$("select#sex").val(data.sex);
					$("input#birthday").val(data.birthday);
					$("input#student_id").val(data.student_id);	
					$("input#phone").val(data.phone);	
					$("input#qq").val(data.qq);	
					$("input#status").val(data.status);	
				}, "json");
	}
	
	function edit(id){
		load(id);
		$("div#edit").dialog({
			title:"修改",
			modal: true,
			position:[200,100],
			buttons: {
                "提交": function() {
                	$("form#edit").attr("action", "member_update.do");
                	$("form#edit").ajaxSubmit();
                    $( this ).dialog( "close" );
                },
				"重置": function() {
					load(id);
	            },
				"关闭": function() {
                    $( this ).dialog( "close" );
	            }
            }
		});
	}
	
	function del(id){
		if(confirm("确定要删除这条数据吗？")){
			$.post("member_delete.do",{id:id});
		}
	}
</script>
</head>
<body>
	<div>
		<button id="add">新增</button>
	</div>
	<div>
		<table>
			<thead>
				<tr>
					<th>编号</th>
					<th>姓名</th>
					<th>性别</th>
					<th>生日</th>
					<th>学号</th>
					<th>电话</th>
					<th>QQ</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<% for(member in members){ %>
				<tr>
					<td>${member['code']}</td>
					<td>${member['name']}</td>
					<td><%if(member['sex']=='1'){%>男 <%}else if(member['sex']=='0'){%>女<%}else{%>保密<%}%></td>
					<td>${member['birthday']}</td>
					<td>${member['student_id']}</td>
					<td>${member['phone']}</td>
					<td>${member['qq']}</td>
					<td>
						<button id="edit" onClick="edit(${member['id']})">修改</button>
						<button id="delete" onClick="del(${member['id']})">删除</button>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<div>
		<a>共${page.recordCount}条</a> <a>共${page.pageCount}页</a> <a href="member_list.do?pn=1">首页</a> <a href="member_list.do?pn=${page.previous}">上一页</a> <a href="member_list.do?pn=${page.next}">下一页</a> <a href="member_list.do?pn=${page.pageCount}">尾页</a>
	</div>
	<div id="edit" style="display: none;">
		<form id="edit" method="POST">
			<input type="hidden" id="id" name="member.id"> <input type="hidden" id="status" name="member.status" value="1">
			<table>
				<tr>
					<td><a>编号</a></td>
					<td><input type="text" id="code" name="member.code" value="${nextCode}"></td>
				</tr>
				<tr>
					<td><a>姓名</a></td>
					<td><input type="text" id="name" name="member.name"></td>
				</tr>
				<tr>
					<td><a>性别</a></td>
					<td><select id="sex" name="member.sex">
							<option value="-1" selected="selected">保密</option>
							<option value="1">男</option>
							<option value="0">女</option>
					</select></td>
				</tr>
				<tr>
					<td><a>生日</a></td>
					<td><input type="text" id="birthday" name="member.birthday"></td>
				</tr>
				<tr>
					<td><a>学号</a></td>
					<td><input type="text" id="student_id" name="member.student_id"></td>
				</tr>
				<tr>
					<td><a>学院</a></td>
					<td><select>
							<option>信息科学与技术学院</option>
							<option>美术学院</option>
							<option>电子信息工程学院</option>
					</select></td>
				</tr>
				<tr>
					<td><a>专业</a></td>
					<td><select>
							<option>软件工程</option>
							<option>网络工程</option>
							<option>计算机科学与技术</option>
					</select></td>
				</tr>
				<tr>
					<td><a>电话</a></td>
					<td><input type="text" id="phone" name="member.phone"></td>
				</tr>
				<tr>
					<td><a>QQ</a></td>
					<td><input type="text" id="qq" name="member.qq"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>